.fullscreen-shape {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #5fbfff, #fc74c8);
    z-index: -1; /* Para colocar el div detrás del contenido */
}

.encabezado{
    background-image: url('https://judithcc.net/user/pages/02.docencia/Prometeob.jpg');
    background-size: cover;
}

.encabezado h1{
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding-top: 10%;
}

.img-card{
    /*Estilo para que la imagen ocupe todo el ancho del card*/
    /*max-height: fit-content;*/
    max-height: 250px;
    width: auto;
    max-width: 97%;
    border-radius: 5px;
}

.btn-azul{
    background-color: #8a73c2; 
    color: rgb(0, 0, 0);
    border-color: #432888;  
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; 
}

.btn-azul:hover{
    background-color:#ffffff;
    color:rgb(0, 0, 0);  
}

.cont-img{
    height: 250px;
}

.tarjeta{
    background-color: rgb(69, 70, 71);
    color: white;
}

.tarjeta:hover{
    cursor: pointer;
}