.fullscreen-shape {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #5fbfff, #fc74c8);
    z-index: -1; /* Para colocar el div detrás del contenido */
}

