.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust size as needed */
    grid-gap: 10px;
    padding: 20px;
  }
  
  .product-item {
    border: 1px solid rgb(69, 70, 71);;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: rgb(69, 70, 71);
    color: white;
  }
  
  .product-image {
    max-width: 207px;
    max-height: 250px;
    /*width: 100%;
    height: 150px; /* Fixed height, or as per your design */
    object-fit: cover;
    border-radius: 4px;
  }
  
  .product-info {
    margin-top: 20px;
  }

  .product-info:hover{
    cursor: pointer;
  }

  .btn-azul{
    background-color: #8a73c2; 
    color: rgb(254, 254, 254);
    border-color: #432888;  
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; 
}

.btn-azul:hover{
   background-color:#ffffff;
   color:rgb(0, 0, 0); 
}

.btn-regresar{
    background-color: #8a73c2; 
    color: rgb(254, 254, 254);
    border-color: #432888; 
    padding: 10px 20px; 
    text-decoration: none;
    margin: 50px 50px;
    cursor: pointer;
    border-radius: 5px; 
    position: absolute;

}

.agregar{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    padding: 10px 20px;
}

.card-borrosa{
  filter: blur(5px);
}

.imagen{
  height: 250px;
}

.imagen:hover{
  cursor: pointer;
}
  